In [23]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [25]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [26]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace=['T9','T13','T12','T2','T14','T25','T15','T29','T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C3700        1
C1248        1
C4120        1
C2500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=application_df['CLASSIFICATION'].unique().tolist()
classifications_to_replace.remove("C1000")
classifications_to_replace.remove("C2000")
classifications_to_replace.remove("C3000")
classifications_to_replace.remove("C1200")
classifications_to_replace.remove("C2100")
print(classifications_to_replace)

['C2700', 'C7000', 'C7200', 'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C1238', 'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300', 'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240', 'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235', 'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278', 'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283', 'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256', 'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200', 'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900', 'C2150']

In [30]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [31]:
#Check the DataFrame
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [32]:
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
application_df_to_replace_under_tytifivethousand=['0','1-9999','10000-24999']
application_df_to_replace_under_milion=['25000-99999','100000-499999','1M-5M']
application_df_to_replace_under_tenmilion=['5M-10M','10M-50M']
application_df_to_replace_under_over=['50M+']
# Replace in dataframe
for app in application_df_to_replace_under_tytifivethousand:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"under25000")
for app in application_df_to_replace_under_milion:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"under5000000")
for app in application_df_to_replace_under_tenmilion:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"under50000000")
for app in application_df_to_replace_under_over:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"over50000000")    

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

under25000       25659
under5000000      8076
under50000000      425
over50000000       139
Name: INCOME_AMT, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies=pd.get_dummies(application_df)
df_dummies.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'INCOME_AMT_over50000000', 'INCOME_AMT_under25000',
       'INCOME_AMT_under5000000', 'INCOME_AMT_under50000000',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [35]:
len(df_dummies.columns)

39

In [36]:
# Split our preprocessed data into our features and target arrays
X=df_dummies.drop("IS_SUCCESSFUL",axis=1)
y=df_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [37]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [38]:
# # #Use PCA to reduce feature
# from sklearn.decomposition import PCA
# pca = PCA(n_components=20)
# X_train_scaled_pca = pca.fit_transform(X_train_scaled)
# X_test_scaled_pca = pca.fit_transform(X_test_scaled)

In [39]:
# pca.explained_variance_ratio_

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=38))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3120
_________________________________________________________________
dense_1 (Dense)              (None, 50)                4050
_________________________________________________________________
dense_2 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 31
=================================================================
Total params: 8,731
Trainable params: 8,731
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5725 - accuracy: 0.7184
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7233
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7257
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5563 - accuracy: 0.7262
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5553 - accuracy: 0.7261
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7269
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7270
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7290
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7278
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7292
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7267
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7285
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7281
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7298
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7295
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7300
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7299
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7303
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7300
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7299
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7310
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7297
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7307
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7309
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7313
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7304
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7313: 0s - loss: 0.542
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7306
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7307
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7323
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7308
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7317
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7309
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7310
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7321
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7311
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7322
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7320
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7317: 0s - loss: 0.5450
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7316
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7323
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7321
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7325
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7324: 0s - loss: 0.5455
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7333
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7318
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7318
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7320
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7331
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7321
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7327
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7331
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7323
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7318
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7332
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7318
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7331
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7326
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7330
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7332
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7333
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7329
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7333
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7324
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7330
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7333
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7333
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7334
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7346
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7332
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7331
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7331
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7335
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7326
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7341
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7330
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7336
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7343
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7336
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7333
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7339
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7337
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7342
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7340
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7337
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7344
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7337

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5682 - accuracy: 0.7375
Loss: 0.5681748390197754, Accuracy: 0.7374927401542664

In [44]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=30,
        max_value=80,
        step=2), activation=activation, input_dim=38))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=30,
            max_value=80,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [49]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2,
    overwrite=True )

In [50]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 01m 20s]
val_accuracy: 0.7392419576644897

Best val_accuracy So Far: 0.7405247688293457
Total elapsed time: 00h 50m 09s
INFO:tensorflow:Oracle triggered exit

In [51]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 32,
 'num_layers': 6,
 'units_0': 36,
 'units_1': 36,
 'units_2': 70,
 'units_3': 34,
 'units_4': 60,
 'units_5': 38,
 'tuner/epochs': 17,
 'tuner/initial_epoch': 6,
 'tuner/bracket': 3,
 'tuner/round': 2,
 'tuner/trial_id': 'bb6bccb9cb8a40c0920eb201219021ec'}

In [52]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5655 - accuracy: 0.7405
Loss: 0.5655185580253601, Accuracy: 0.7405247688293457

In [53]:
best_model.save('AlphabetSoupCharity_Optimization.h5.')

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimization.h5./assets

# Summary: 

#### I got 72% in the previous model. 
## In optimzation file:
### step1: I following the previous work, drop useless columns.
### step2: I try to use PCA to transform the data, but I set n_components=20. 
#### However, I got only got 20% accuracy in PCA resulr.
### I turn back to the orignal version and try to bin the 'INCOME_AMT' columns, from 9 to 4 labels and run the neunal nerwotk and tuner.search again. 
## I only can get 74% accuracy.

## Data Preprocessing

What variable(s) are considered the target(s) for your model?

I choose the "IS_SUCCESSFUL" columns for my target(s) colums and train my model.

What variable(s) are considered to be the features for your model?

I drop the 'EIN' and 'NAME' columns because is not useful for the model. 
Moreover, I bin the  'APPLICATION_TYPE', 'CLASSIFICATION', and 'INCOME_AMT' columns to reduce the number of columnf after get dummies function. I keep other columns to be the features.

What variable(s) are neither targets nor features, and should be removed from the input data?

As I mention above, I only drop the 'EIN' and 'NAME' columns because I think is not useful.


## Compiling, Training, and Evaluating the Model

How many neurons, layers, and activation functions did you select for your neural network model, and why?

I made three layer for my neural network model, and I use different unit in different layer since I think use too many unit may overfitting the model. 
The First hidden layer Unit=80, activation= relu
The second hidden layer Unit=50, activation= relu
The third hidden layer Unit=30, activation= relu

I drop down the number of unit on each layer but keep using same activation. Because I run several time of the model, if I put different activation like tanh or sigmoid, the accuracy become lower.

Were you able to achieve the target model performance?

Yes, I success to optimze the model by using keras_tuner, including 'activation',['relu','tanh','sigmoid'], and range the layer up to 6, unit is between 30 to 80.
The best model I get is 'activation': 'sigmoid' and 'num_layers': 6.
we can see that the more layer we add the higher accuracy we get. But the best accuracy I got is aroung 74%, and achieve 75%

What steps did you take to try and increase model performance?

I try lots of different thinf to increase model performance, like PCA or feature_selection but the best way 
to improve the performance is clean the data. Therefore, I drop the useless columns, bin different type record on some column and drop the amount of columns down. This proccess help me increase model performance.